root = true

# All
[*]
# end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Extension
[*.vim]
end_of_line = lf

# file
[*.{txt,jax}]
trim_trailing_whitespace = false

# EOF
