---
version: 2
# command define
commands:
  - title: Reload
    command: :reload-config

  - title: Editor
    os: windows
    command: notepad
    arguments:
      - "${INPUT}"
  - title: Editor
    os: linux
    command: gedit
    # Linux no method generic GUI editor open
    arguments:
      - ${INPUT}
  - title: Editor
    os: mac
    command: open
    arguments:
      - '-e'
      - ${INPUT}

  - title: Filer
    os: mac
    # Windows no handle file:// in explorer /select
    # Linux   no method generic filer open
    command: open
    arguments:
      - '-R'
      - ${INPUT}

  - title: Browser
    os: mac
    # Windows no browser file:// in run32dll url.dll,FileProtocolHandler like open
    # Linux   no method generic browser open
    command: open
    arguments:
      - '-a'
      - 'Safari'
      - ${INPUT}

  - title: Open
    os: windows
    command: rundll32
    arguments:
      - "url.dll,FileProtocolHandler"
      - "${INPUT}"
  - title: Open
    os: linux
    command: xdg-open
    arguments:
      - ${INPUT}
  - title: Open
    os: mac
    command: open
    arguments:
      - ${INPUT}

# linter,formatter setting
tools:
  cppcheck-lint: &cppcheck-lint
    lint-command: 'cppcheck --enable=style --error-exitcode=1 ${INPUT}'
    lint-stdin: false
    lint-formats:
      - '%f:%l:%c: %m'

  vale-lint: &vale-lint
    lint-command: 'vale --relative --output line ${INPUT}'
    lint-stdin: false
    lint-ignore-exit-code: true
    lint-formats:
      - '%f:%l:%c:%*[^:]:%m'

  vint-lint: &vint-lint
    lint-command: 'vint --enable-neovim --style-problem --stdin-display-name ${INPUT} -'
    lint-stdin: true

  nvcheck-lint: &nvcheck-lint
    lint-command: 'nvcheck ${INPUT}'
    lint-stdin: false
    lint-formats:
      - '%f:%l: %m'

  nvcheck-format: &nvcheck-format
    format-command: 'nvcheck -r ${INPUT}'
    format-stdin: false

  markdownlint-lint: &markdownlint-lint
    lint-command: 'markdownlint --stdin'
    lint-stdin: true
    lint-formats:
      - '%f:%l %m'
      - '%f: %l: %m'

  markdownlint-format: &markdownlint-format
    format-command: 'markdownlint --fix ${INPUT}'
    format-stdin: false

  jq-format: &jq-format
    format-command: 'jq .'
    format-stdin: true

  fixjson-format: &fixjson-format
    format-command: 'fixjson'
    format-stdin: true

  shellcheck-lint: &shellcheck-lint
    lint-command: 'shellcheck -s bash -f gcc -x -'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'
      - '%f:%l:%c: %tote: %m'

  shfmt-format: &shfmt-format
    format-command: 'shfmt -ln bash -kp'
    format-stdin: true

  flake8-lint: &flake8-lint
    lint-command: 'flake8 --stdin-display-name ${INPUT} -'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m'

  mypy-lint: &mypy-lint
    lint-command: 'mypy --show-column-numbers'
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'
      - '%f:%l:%c: %tote: %m'


  rubocop-lint: &rubocop-lint
    lint-command: 'bundle exec rubocop --format emacs --force-exclusion --stdin ${INPUT}'
    lint-ignore-exit-code: true
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m'

  rubocop-format: &rubocop-format
    format-command: 'bundle exec rubocop --auto-correct ${INPUT}'
    format-stdin: false

  rufo-format: &rufo-format
    format-command: 'bundle exec rufo ${INPUT}'
    format-stdin: false

  yamllint-lint: &yamllint-lint
    lint-command: 'yamllint --strict --format parsable ${INPUT}'
    lint-stdin: false
    lint-formats:
      - '%f:%l:%c: [%trror] %m'
      - '%f:%l:%c: [%tarning] %m'
    env:
      - 'PYTHONIOENCODING=UTF-8'

  restructuredtext-lint-lint: &restructuredtext-lint-lint
    lint-command: 'restructuredtext-lint --encoding utf-8 --level warning --format text ${INPUT}'
    lint-stdin: false
    lint-ignore-exit-code: true
    lint-formats:
      - '%tARNING %f:%l %m'
      - '%tRROR %f:%l %m'

  eslint-lint: &eslint-lint
    lint-command: 'npx --no-install eslint -f unix --stdin --stdin-filename ${INPUT}'
    lint-ignore-exit-code: true
    lint-stdin: true

  eslint-format: &eslint-format
    format-command: 'npx --no-install eslint --fix ${INPUT}'
    format-stdin: false

  stylelint-lint: &stylelint-lint
    lint-command: 'npx --no-install stylelint --formatter unix --stdin --stdin-filename ${INPUT}'
    lint-ignore-exit-code: false
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m [%trror]'
      - '%f:%l:%c: %m [%tarning]'

  prettier-format: &prettier-format
    format-command: 'npx --no-install prettier ${INPUT}'
    format-stdin: false

  excitetranslate-hover: &excitetranslate-hover
    hover-command: 'excitetranslate'
    hover-stdin: true

# languages setting
languages:
  vim:
    - <<: *vint-lint

  markdown:
    - <<: *markdownlint-lint
    - <<: *markdownlint-format
    - <<: *vale-lint
    - <<: *nvcheck-lint
    - <<: *nvcheck-format
    - <<: *prettier-format

  json:
    - <<: *jq-format
    - <<: *fixjson-format
    - <<: *prettier-format

  json5:
    - <<: *fixjson-format
    - <<: *prettier-format

  text:
    - <<: *vale-lint
    - <<: *nvcheck-lint
    - <<: *nvcheck-format

  help:
    - <<: *vale-lint
    - <<: *nvcheck-lint
    - <<: *nvcheck-format

  cpp:
    - <<: *cppcheck-lint

  c:
    - <<: *cppcheck-lint

  sh:
    - <<: *shellcheck-lint
    - <<: *shfmt-format

  yaml:
    - <<: *yamllint-lint
    - <<: *prettier-format

  rst:
    - <<: *restructuredtext-lint-lint
    - <<: *vale-lint
    - <<: *nvcheck-lint
    - <<: *nvcheck-format

  javascript:
    - <<: *eslint-lint
    - <<: *eslint-format

  typescript:
    - <<: *eslint-lint
    - <<: *eslint-format
    - <<: *prettier-format

  css:
    - <<: *stylelint-lint
    - <<: *prettier-format

  scss:
    - <<: *stylelint-lint
    - <<: *prettier-format

  sass:
    - <<: *stylelint-lint

  less:
    - <<: *stylelint-lint

  sugarss:
    - <<: *stylelint-lint

  python:
    - <<: *flake8-lint
    - <<: *mypy-lint

  ruby:
    - <<: *rubocop-lint
    - <<: *rubocop-format
    - <<: *rufo-format

  graphql:
    - <<: *prettier-format

  vue:
    - <<: *prettier-format

  html:
    - <<: *prettier-format

  _:
    - <<: *excitetranslate-hover
...
