name: "vim help tag name check"
on: [push, pull_request]
jobs:
  tagname:
    name: Check tag name conflict
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: help tag check
        uses: tsuyoshicho/action-vimhelp-tagname-check@573eb249ed68dbf7305f042ce0cbe57d0739a03e # v1.1.2
