name: "vim help tag name check"
on: [push, pull_request]
jobs:
  tagname:
    name: Check tag name conflict
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: help tag check
        uses: tsuyoshicho/action-vimhelp-tagname-check@573eb249ed68dbf7305f042ce0cbe57d0739a03e # v1.1.2
